ul {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    width: 90%;
 }

.graph li {
    width:111px; height:180px; /*set a bar width and a full height*/
    position:relative; /*needed for the actual bar fill element*/
    margin:5px;
 }

 .graph span {
    position:absolute;right:0;bottom:0;left:0; /*"bottom-align" the bars, widths will be set inline*/
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 1px;
 }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;

  min-width: 400px;        /* Suppose you want minimum width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */

}

* {
  box-sizing: border-box;
}

.innhold {
	width: 400px;
	margin: auto;
}

/* Fix. Ikke nødvendig */
.innholdOversikt {
  margin: auto;
  width: 400px;
}

/* Fix. Ikke nødvendig */
.innholdStand {
  text-align: center;
  margin: auto;
  width: 400px;
}

.stemmer {
   display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 71%;
  text-align: center;
  margin: auto;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 400px;
  padding: 15px;
  margin: 5px 0 22px 0;
  background-color: #f1f1f1;
  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  opacity: 0.9;
}

.registerbtn:disabled {
	opacity: 0.5;
	cursor: default;
}

.registerbtn:disabled:hover {
	opacity: 0.5;
	cursor: default;
}

.registerbtn:hover {
  opacity: 1;
}

/* Set a style for the submit button */
.jalla {
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  padding: 16px 20px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display:inline-block;
  width:100%;
  height:100%;
  opacity: 0.9;
}


.jalla:hover {
  opacity: 1;
}


/* Add a blue text color to links */
a {
  color: dodgerblue;
}

div.innholdOversikt a {
  color: black;
  text-decoration: none;
}

div.innholdOversikt a:hover {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  width: 400px;
	padding: 1px;
	background-color: #f1f1f1;
	text-align: center;
  border-radius: 5px;
  margin: auto;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  border-color: #54d14d;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

th, td {
  padding: 1em;
  border-bottom: 3px solid white; 
}

tr {
  	height: 30px;
}


.inputValid {
	border-style: solid;
	border-color: #54d14d;
}
.inputInvalid {
	border-style: solid;
	border-color: #ff6e69;
}
.inputAlmostValid {
	border-style: solid;
	border-color: #fffa63;
}
.noInput {
	border: none;
}




